<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kyselyt</title>
</head>
<body>
	<div>
	<h1>Kyselyt</h1>
	<table>
		<tr>
			<th>Nimi</th>
			<th></th>
		</tr>

		<tr th:each="kysely : ${kyselyt}">
			<td th:text="${kysely.nimi}">nimi</td>
			<td><a th:href="@{/kyselylista/edit/{id}(id=${kysely.id})}">Muokkaa</a></td>
			<td th:text="${kysely.kysymykset}"></td>
		</tr>
	</table>
	</div>
	
	<div>
	<a href="/kyselylista/add">Lisää uusi kysely</a>
	</div>
</body>
</html>