<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Kysely</title>
</head>
<body>
	<div style="clear: both; display: block; height: 15px;"></div>
	<h1 th:text="${kysely.nimi}"></h1>
	<div style="clear: both; display: block; height: 15px;"></div>
	<h3 th:text="${kysely.kuvaus}">kuvaus</h3>
	<div style="clear: both; display: block; height: 15px;"></div>
	
	<a th:href="@{/muokkaakyselya/{id}(id=${kysely.id})}" class="btn btn-success">Muokkaa kyselyn tietoja</a>

<div style="clear: both; display: block; height: 15px;"></div>
	
	<table class="table table-striped">
		<tr>
			<th>Kysymykset</th>
			<th>Kysymystyyppi</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="kysymys : ${kysymykset}">
			<td th:text="${kysymys.kysymysteksti}"></td>
			<td th:text="${kysymys.kysymystyyppi.nimi}"></td>
			<!-- TÄHÄN IF ELSE -->
			
			<td><a th:href="@{/lisaavaihtoehto/{id}(id=${kysymys.id})}" class="btn btn-primary">Lisää vastausvaihtoehto</a></td>
			<td> <a th:href="@{/muokkaakysymysta/{id}(id=${kysymys.id})}" class="btn btn-primary">Edit</a></td>
			<!-- POISTA KYSYMYS -->	
			<td><a th:href="@{/poistakysymys/{id}(id=${kysymys.id})}" class="btn btn-danger">Poista</a></td>
		</tr>
	</table>
	<div>
	<h3>Lisää uusi kysymys</h3>
		<form th:object="${kysymys}" th:action="@{/kysely/__${kyselyId}__/save}" action="#" method="post">
			<!-- Lisää uusi kysymys -->
			<textarea rows = "5" cols = "60" name = "kysymysteksti"></textarea>
         	<br>
			<div style="clear: both; display: block; height: 1em;"></div>
			<select id="kyselyt" th:field="*{kysely}" hidden="hidden">
				<option th:value="${kysely.id}"></option>
			</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<h6>Valitse kysymystyyppi</h6>
			<div style="clear: both; display: block; height: 10px;"></div>
			<select id="exampleFormControlInput1" th:field="*{kysymystyyppi}">
				<option th:each="kysymystyyppi: ${kysymystyyppit}" th:value="${kysymystyyppi.id}" th:text="${kysymystyyppi.nimi}"></option>
			</select>
			<div style="clear: both; display: block; height: 20px;"></div>
			<input type="submit" value="Lisää kysymys" class="btn btn-success"></input>
		</form>
	</div><br>
	<a href="/kyselylista" class="btn btn-primary">Takaisin kyselylistaan</a>
</body>
</html>