<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<title>Kyselyt</title>
</head>
<body>
        

	<div>
	<h1>Kyselyt</h1>
	<table>
		<tr>
			<th>Nimi</th>
			<th>Kuvaus</th>
			<th></th>
		</tr>

		<tr th:each="kysely : ${kyselyt}">
			<td th:text="${kysely.nimi}">nimi</td>
			<td th:text="${kysely.kuvaus}">kuvaus</td>
			<td><a th:href="@{/addkysymys/{id}(id=${kysely.kyselyid})}" class="btn btn-primary">Lisää kysymys</a></td>

			<td><a th:href="@{/kopioikysely/{id}(id=${kysely.kyselyid})}" class="btn btn-primary">Kopioi kysely</a></td>
			
			<!-- Muokkaa kyselyn nimeä ja kuvausta -->
			<td><a th:href="@{/muokkaakyselya/{id}(id=${kysely.kyselyid})}" class="btn btn-success">Muokkaa kyselyä</a></td>

		</tr>
	</table>
	</div>
	
	<div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/lisääkysely" class="btn btn-success">Lisää uusi kysely</a>
	</div>
</body>
</html>