<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Muokkaa kyselyä</title>
</head>
<body>
	<div>
		<h1 th:text="${kysely.nimi}"></h1>
		<h1>Kysymykset</h1>
		<ol>
			<li th:each="kysymys : ${kysymykset}"
				th:text="${kysymys.kysymysteksti}">
				<a th:href="@{/muokkaa{id}(id=${kysymys.kysymysid})}" class="btn btn-primary">Edit</a></li>
				
		</ol>
	</div>
	<div>
		<h2>Lisää uusi kysymys</h2>
		<form th:object="${kysymys}" th:action="@{/addkysymys/__${kyselyId}__/savekysymys}" action="#" method="post">
			<label for="kysymysteksti">Kysymysteksti</label>
			<br>
			<textarea rows = "5" cols = "60" name = "kysymysteksti"></textarea>
         	<br>
			<div style="clear: both; display: block; height: 1em;"></div>
			<select id="kyselyt" th:field="*{kysely}" hidden="hidden">
				<option th:value="${kysely.kyselyid}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Lisää" class="btn btn-success"></input>
			<a th:href="@{/muokkaa/{id}(id=${kysely.kyselyid})}" class= "btn btn-warning">Muokkaa</a>
			
		</form>
	</div>
	<div>
		<div style="clear: both; display: block; height: 1em;"></div>
		<a href="/kyselylista" class="btn btn-primary">Takaisin
			kyselylistaan</a>
	</div>
</body>
</html>