<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Lisää vaihtoehto</title>
</head>
<body>

	<h3 th:text="${kysymys.nimi"></h3>
	
	
	<div style="clear: both; display: block; height: 30px;"></div>
		
		
		<h5>Lisää vastausvaihtoehto</h5>
		<form th:object="${vaihtoehto}" th:action="@{/lisaavaihtoehto/__${id}__/save}" action="#" method="post">
			<input type="hidden" th:field="*{kysymys.id}" class="form-control"/>
	
			<textarea rows = "2" cols = "60" name = "nimi"></textarea>
         	<br>
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Lisää" class="btn btn-success"></input>
		</form>
	<div>
		<div style="clear: both; display: block; height: 1em;"></div>
		<a href="/kyselylista" class="btn btn-primary">Takaisin
			kyselylistaan</a>
	</div>
</body>
</html>