<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Muokkaa kyselyä</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>	
<h1>Muokkaa kyselyä</h1>
<div>
<form th:object="${kysely}" th:action="@{/savekysely}" action="#" method="post">
	<label for="kyselyid"></label>
	<input type="hidden" id="kyselyid" th:field="*{kyselyid}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	
	<label for="kyselynimi"></label>
	<input type="text" id="kyselynimi"th:field="*{nimi}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	
	<label for="kyselykuvaus"></label>
	<input type="text" id="kyselykuvaus" th:field="*{kuvaus}" />
	<div style="clear: both; display: block; height: 10px;"></div>
	
	<input type="submit" class="btn btn-success" value="Save Kysely"></input>
</form>
</div>
</body>
</html>