<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Muokkaa kyselyä</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>	
<h1>Muokkaa kyselyä</h1>
<div>
<form th:object="${kysely}" th:action="@{../save}" action="#" method="post">
	<input type="hidden" th:field="*{kyselyid}" class="form-control"/>
	
	<input type="text" th:field="*{nimi}" />
	<br>
	<input type="text" th:field="*{kuvaus}" />
	<br>
	<div th:each="kysymys : ${kysymykset}">
	<input type="text" th:field="${kysymys.kysymysteksti}" />
	</div>
	 
	<br>
	<input type="submit" class="btn btn-success" value="Save"></input>
</form>
</div>
</body>
</html>