<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>Muokkaa kysymystä</title>
</head>
<body>	
	<h1>Muokkaa kysymystä</h1>
	<div>
		<form th:object="${kysymys}" th:action="@{/muokkaakysymysta/save}" action="#" method="post">
		
			<input type="hidden" id="id" th:field="*{id}" class="form-control"/>
			<input type="hidden" th:field="*{kysely.id}" class="form-control"/>
			<input type="hidden" th:field="*{kysymystyyppi.id}" class="form-control"/>
			
			<label for="kysymysteksti">Kysymysteksti</label><br>
			
			<textarea rows = "5" cols = "60" name = "kysymysteksti" th:field="*{kysymysteksti}"></textarea>
			<br>
			<input type="submit" class="btn btn-success" value="Tallenna"></input>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a th:href="@{/kysely/{id}(id=${kysymys.kysely.id})}" class="btn btn-primary">Takaisin</a>
</body>
</html>