<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REST</title>
</head>
<body>
	<h1>REST-kotisivu</h1>
	
	<h2>Hae kaikki kyselyt</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kyselyt">/kyselyt</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		[{
		    "id": 1,
		    "nimi": "Hyvinvointikysely Haaga-Helian opiskelijoille",
		    "kuvaus": "Kyselyn tarkoituksena on kartoittaa Haaga-Helian opiskelijoiden hyvinvointia. Kyselyn avulla selvitetään, miten hyvin opiskelijat pärjäävät ja jaksavat opinnoissaan. Vastausten avulla pyritään löytämään keinoja opiskelijoiden hyvinvoinnin edistämiseksi.",
		    "kysymykset": [{
			    "id": 18,
				"kysymysteksti": "Onko etäopiskelu vaikuttanut opintomenestykseesi negatiivisesti?",
				"vaihtoehdot": [{
					"id": 65,
					"nimi": "Kyllä"
					},
					{
					"id": 66,
					"nimi": "Ei"
					}],
				"kysymystyyppi": {
					"id": 6,
					"nimi": "Valintanappikysymys"
					}
				},
				{
				"id": 19,
				"kysymysteksti": "Mitä kehitysideoita sinulla olisi etäopiskelun parantamiseksi?",
				"vaihtoehdot": [],
				"kysymystyyppi": {
					"id": 4,
					"nimi": "Avoinkysymys"
				}
				}]
		},
		{
			"id": 3,
			"nimi": "Ruokakysely",
			"kuvaus": "Kysely ruoasta",
			"kysymykset": [
				{
					"id": 27,
					"kysymysteksti": "Mikä on lempiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
					},
				{
					"id": 28,
					"kysymysteksti": "Mikä on inhokkiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
				}
			]
		}]
	</code>
	</pre>

	<h2>Hae kysely ID:n perusteella</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kyselyt/3">/kyselyt/{id}</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		{
			"id": 3,
			"nimi": "Ruokakysely",
			"kuvaus": "Kysely ruoasta",
			"kysymykset": [
				{
					"id": 27,
					"kysymysteksti": "Mikä on lempiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
				},
				{
					"id": 28,
					"kysymysteksti": "Mikä on inhokkiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
				}
			]
		}
	</code></pre>
	
	<h2>Hae kysymys ID:n perusteella</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kysymykset/8">/kysymykset/{id}</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		{
			"id": 8,
			"kysymysteksti": "Mikä on sukupuolesi?",
			"vaihtoehdot": [
				{
					"id": 37,
					"nimi": "Nainen"
				},
				{
					"id": 38,
					"nimi": "Mies"
				},
				{
					"id": 39,
					"nimi": "Muu"
				}
			],
			"kysymystyyppi": {
				"id": 6,
				"nimi": "Valintanappikysymys"
			}
		}
	</code>
	</pre>
	
	<h2>Hae kysymystyypit</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kysymystyypit">/kysymystyypit</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		[
			{
				"id": 4,
				"nimi": "Avoinkysymys"
			},
			{
				"id": 5,
				"nimi": "Monivalintakysymys"
			},
			{
				"id": 6,
				"nimi": "Valintanappikysymys"
			}
		]
	</code>
	</pre>
	
	<h2>Hae vastaukset kyselyn ID:n perusteella</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kyselyt/3/vastaukset">/kyselyt/{id}/vastaukset</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		[
			{
				"id": 29,
				"vastausteksti": "Makaronilaatikko",
				"kysymys": {
					"id": 27,
					"kysymysteksti": "Mikä on lempiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}		
				}
			},
			{
				"id": 30,
				"vastausteksti": "Tilliliha",
				"kysymys": {
					"id": 28,
					"kysymysteksti": "Mikä on inhokkiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
				}
			}
		]
	</code>
	</pre>
	
	<h2>Hae vastaukset kysymyksen ID:n perusteella</h2>
	
	<p>Metodi: GET, endpoint: <a href="/kysymykset/27/vastaukset">/kysymykset/{id}/vastaukset</a></p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		[
			{
				"id": 29,
				"vastausteksti": "Makaronilaatikko",
				"kysymys": {
					"id": 27,
					"kysymysteksti": "Mikä on lempiruokasi?",
					"vaihtoehdot": [],
					"kysymystyyppi": {
						"id": 4,
						"nimi": "Avoinkysymys"
					}
				}
			}		
		]
	</code>
	</pre>
	
	<h2>Lisää vastauksia</h2>
	
	<p>Metodi: POST, endpoint: /vastaukset</p>
	
	<strong>JSON esimerkki:</strong>
	
	<pre>
	<code>
		[
		    {
		        "vastausteksti": "Kalapuikot",
		        "kysymys": {
		            "id": 27
		        }
		    },
		    {
		        "vastausteksti": "En osaa sanoa",
		        "kysymys": {
		            "id": 28
		        }
		    }
		]
	</code>
	</pre>
	
</body>
</html>